.l-header {
    height: 90px;
    border-bottom: solid 1px;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.l-footer {
}

.l-main, .l-gallery {
    display: flex;
    max-width: 1200px;
    width: 100vw;
    margin: 0 auto;
}

.l-side {
    width: 20%;
    padding: 50px 20px;
    border-right: solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.l-content {
    width: 80%;
    padding: 50px;
}

.l-topContent {
    width: 100%;
    padding: 10vw 5vw;
    border: solid 1px;
    margin-top: -1px;
}

.l-accountWrap {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.l-formWrap {
    width: 70%;
    padding: 30px 20px;
    border: solid 1px;
    margin: 50px 0;
}

.l-titleWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
}

.l-archive {
    border: solid 1px;
    width: 100%;
    padding: 30px 10px 20px;
    margin: 50px 0 20px;
}

.l-post {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, auto));
    grid-auto-rows: 1fr;
    grid-gap: 10px;
}

.l-each {
    width: 100%;
}