@use "../bases/variables" as v;

.p-form{
    &Submit {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    
    &Each {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    }
    
    &_remember {
        margin-bottom: 20px;
    }
    
    &_forgotPw {
        margin-bottom: 20px;
        line-height: 1.4;
    }
}

.p-dash{
    &Wrap {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
        grid-gap: 10px;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        line-height: 1.3;
        
        &_item{
            display: flex;
            width: 100%;
            aspect-ratio: 1/1;
            border: solid 1px v.$sdcolor;
            color: v.$gray-black;
            border-radius: 1rem;
            justify-content: center;
            background-color: v.$gray-white;
            
            a{
                display: flex;
                padding: 10px;
                width: 100%;
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            a::before{
                color: v.$sdcolor;
                font-family: "Font Awesome 5 Free";
                font-weight: bold;
                font-size: clamp(30px, 4vw, 50px);
                margin-bottom: 10px;
            }
            
            &:nth-child(1) a::before{
                content: "\f2bd";
            }
            
            &:nth-child(2) a::before{
                content: "\f02e";
            }
            
            &:nth-child(3) a::before{
                content: "\f005";
            }
            
            &:nth-child(4) a::before{
                content: "\f187";
            }
        }
    }
}

.p-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &_list {
        margin: 50px 0 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        border: solid 1px v.$gray-black;
        border-radius: 1rem;
        background-color: v.$gray-white;
        padding: 0 10px;
    }
    
    &_item{
        padding: 30px 0;
        line-height: 2;
        & li:nth-child(2) {
            margin-bottom: 20px;
        }
    }
    
    &_edit{
        display: flex;
        border: solid 1px v.$gray-black;
        border-radius: 1rem;
        background-color: v.$gray-white;
        padding: 0 10px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 50px 0 20px;
        a:last-of-type{
            margin-bottom: 30px;
        }
    }
    
    &_eList {
        display: grid;
        grid-template-columns: 3fr 6fr 3fr;
        width: 100%;
        align-items: center;
        justify-items: center;
        padding: 30px 0;
    }
    input.p-profile_eItem{
        width: 80%;
        &:last-child{
            color: v.$gray-white;
            background-color: v.$mdcolor;
        }
    }
    
    &_pw {
        grid-column: 1 / 3;
        max-width: 100%;
        &Item {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
             :nth-child(2) {
                margin-left: 20px;
                line-height: 1.6;
                padding: 0;
            }
            
            &:nth-child(1){
                margin-bottom: 10px;
            }
        }
    }
    
    .p-pnext {
        background-color: v.$sdcolor;
        color: v.$gray-white;
    }
        
    .p-pback {
        background-color: v.$gray-white;
    }
}

.l-side {
    &_list.topside .l-side_item:nth-child(2) {
        background-color: initial;
        border: none;
        padding-left: 0;
    }
    
    &_item {
        line-height: 2;
        margin-bottom: 10px;
        position: relative;
        border-radius: 0 1rem 1rem 0;
        padding-left: 10px;
        background-color: rgba(v.$mlcolor, 0.6);
        border: solid 1px v.$mcolor;
        border-left: solid 5px v.$mcolor;
        a {
            display: block;
            height: 100%;
        }
    }
    
    &_srch{
        
        &Title{
            display: block;
            width: 100%;
            text-align: inherit;
            border-radius: 0 1rem 1rem 0;
            background-color: rgba(v.$mlcolor, 0.6);
            padding-left: 10px;
            border: solid 1px v.$mcolor;
            border-left: solid 5px v.$mcolor;
        }
        
        &List {
            padding: 10px 0 0 20px;
        }
        
        &Item {
            margin-bottom: 10px;
            padding-left: 10px;
            border-left: solid 5px v.$scolor;
            background-color: v.$gray-white;
            border-radius: 0 1rem 1rem 0;
            border: solid 1px v.$sdcolor;
            border-left: solid 5px v.$sdcolor;
            
            &:last-child{
                margin: 0;
            }
            
        }
        
    }
    input#sp_btn{
        display: none;
    }
    
    .p-logout {
        border-color: v.$mdcolor;
        color: v.$mdcolor;
        background-color: v.$gray-white;
    }
    
    .sp.l-side_srchBtn {
       display: none; 
    }

}

.l-archive{
    &_list {
        display: flex;
        white-space: nowrap;
        flex-wrap: wrap;
    }
    
    &_item{
        position: relative;
        margin: 0 10px 10px 0;
        border: solid 1px v.$gray-black;
        background-color: v.$light-orange;
        border-radius: 5px;
        display: flex;
        align-items: center;
        height: 100%;
        a {
            display: block;
            padding: 10px 20px 10px 40px;
        }
        
        &::before{
            font-family: "Font Awesome 5 Free";
            position: absolute;
            font-weight: bold;
            left: 10px;
            color: v.$sdcolor;
        }
        
        &.zoo::before{
            content: "\f56b";
        }
        
        &.animal::before{
            content: "\f1b0";
        }
    }
}

//myposts/create
.p-fPost {
    width: 100%;
    border: solid 1px;
    border-radius: 1rem;
    margin: 50px 0;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 20px) / 2));
    grid-auto-rows: 2fr;
    grid-gap: 20px;
    max-height: 70vh;
    overflow-y: auto;
    background-color: v.$gray-white;
    
    &_iName {
        display: none;
    }
    
    &_label {
        margin-bottom: 10px;
    }
    
    &_datalist {
        border: solid 1px;
        padding: 20px;
    }
    
    &_editImg{
        grid-column: 1 / 3;
        grid-row: 1/ 3;
    }
    
    &_btn {
        margin: 0 auto;
        background-color: v.$gray-white;
    }
    
    &_text {
        border-color: v.$gray-black;
    }
    
    .p-pbtn {
        color: v.$gray-white;
        background-color: v.$mdcolor;
        border: none;
    }
}

.p-pbtn .c-back {
    background-color: v.$gray-white;
}


.p-fPost_wrap {
    display: flex;
    flex-direction: column;
    
    &:nth-of-type(1){
        grid-column: 1 / 2;
        grid-row: 1 / 5;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        align-items: center;
        justify-items: center;
    
        .p-fPost_img {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            width: 90%;
            height: 90%;
            margin: auto;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
        
    &:nth-of-type(2){
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        display: grid;
        grid-template-rows: auto 1fr;
    }
        
    &:nth-of-type(3){
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        display: grid;
        grid-template-rows: auto 1fr;
    }
        
    &:nth-of-type(4){
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        display: grid;
        grid-template-rows: auto 1fr;
    }
    
    &:nth-of-type(5){
        grid-column: 1 / 3;
        grid-row: 5 / 6;
        margin: 0 auto;
        justify-content: flex-end;
    }
}

input.preview, #preview_area {
    display: none;
}

//myposts/achirve
.l-post {
    margin-top: 50px;
    
    &_item {
        border: solid 1px;
        padding: 10px;
        background-color: v.$gray-white;
    }
    
    &_img img {
        width: 100%;
        aspect-ratio: 1/1;
        height: auto;
        object-fit: cover;
        border: solid 1px;
    }
    
    &_text {
        text-overflow: ellipsis;
        overflow: hidden;
        padding-top: 10px;
        white-space: nowrap;
    }
    
    &_title {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        grid-row-gap: 20px;
        
        .p-pback {
            background-color: v.$gray-white;
        }
        
        :nth-child(1) {
            grid-column: 1 / 3;
            grid-row: 1;
            margin: 0 auto;
        }
        
        :nth-child(2) {
            grid-column: 1;
            grid-row: 2;
            margin: 0 auto 0 0;
        }
        
        :nth-child(3) {
            grid-column: 2;
            grid-row: 2;
            margin: 0 0 0 auto;
        }
    }
    
}

//like
.unlike {
    position: relative;
    &::before {
        font-family: "Font Awesome 5 free";
        left: 0;
        top: 0;
        font-weight: 400;
        content: "\f004";
        padding-right: 10px;
        color: #f06292;
    }
}

.like {
    position: relative;
    &::before {
        font-family: "Font Awesome 5 free";
        left: 0;
        top: 0;
        color: #f06292;
        font-weight: bold;
        content: "\f004";
        padding-right: 10px;
    }
}

.p-likeWrap {
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 2rem;
}

div .likebtn:nth-child(2){
    display: none;
}

