@use "../bases/variables" as v;

.p-gallery {
    
    &List{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, auto));
        grid-auto-rows: 1fr;
        grid-gap: 10px;
        margin-bottom: 50px;
    }
    
    &_wrap {
        min-height: 60vh;
        margin-bottom: 50px;
    }
    
}

.c-gallery{
    
    &Title {
        font-size: clamp(20px, 3vw, 30px);
        font-weight: bold;
        margin-bottom: 50px;
        text-align: center;
    }
    
    &_item {
        border: solid 1px;
        aspect-ratio: 1 / 1;
        background-color: v.$gray-white;
        
        a {
          display: block;
          padding: 10px;
          height: 100%;
        } 
        a img {
            object-fit: cover;
            height: 100%;
            border: solid 1px;
        }
    }
}

.p-about {
    .c-h3 {
        text-align: center;
    }
    
    &_textWrap {
        margin: 50px 0 ;
        border: solid 1px;
        border-radius: 1rem;
        background-color: v.$gray-white;
        padding: 30px;
        display: grid;
        grid-row-gap: 10px;
        line-height: 1.5;
    }
    
}

.c-back.p-aboutback {
    background-color: v.$gray-white;
}