.l-footer {
    &_title{
        font-size: clamp(18px, 3vw, 22px);
        font-weight: bold;
    }
    
    &_wrap {
        display: flex;
        padding: 2vw 10vw;
        justify-content: space-between;
        border-top: solid 1px;
    }
    
    &_copy {
        display: flex;
        justify-content: center;
        font-size: clamp(12px, 2vw, 14px);
        border-top: solid 1px;
        margin: 0;
        padding: 10px 0;
    }
    
    &_menu {
        padding: 0;
        margin: 0;
        width: 50%;
    }
    
    &_item {
        padding-bottom: 10px;
    }
}