.l-header {
    &_title {
        font-size: clamp(24px, 4vw, 36px);
    }
}

.p-headerNav {
    &_menu {
        margin: 0;
        display: flex;
        padding: 0;
    }
    
    &_item {
        padding-right: 20px;
        &:last-child {
            padding: 0;
        }
    }
}