.c-h1 {
    font-size: clamp(24px, 4vw, 36px);
    font-weight: bold;
}
.c-h2 {
    font-size: clamp(20px, 3vw, 32px);
    font-weight: bold;
}
.c-h3 {
    font-size: clamp(18px, 2.2vw, 28px);
    font-weight: bold;
}

.c-form{
    &Label {
        width: 30%;
    }
    &Input {
        width: 70%;
    }
    &Link {
        margin-top: 20px;
    }
    &Btn {
        width: 20%;
        display: flex;
        justify-content: center;
    }

}

.c-btn {
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 10px 20px;
    border: solid 1px;
    border-radius: 100vh;
    min-width: 10rem;
    font-size: 16px;
    display: block;
    text-align: center;
}

.c-back {
    border: solid 1px;
    position: relative;
    padding: 10px 40px 10px 47px;
    width: fit-content;
    height: fit-content;
    min-width: 10rem;
    font-size: 16px;
    display: block;
    text-align: center;
    border-radius: 1rem;
    
    &::before {
        content: '';
        width: 7px;
        height: 7px;
        border-top: solid 2px;
        border-right: solid 2px;
        position: absolute;
        transform: rotate(-135deg);
        left: 15px;
        top: calc((100% - 7px)/2);
    }
}

.c-next {
    border: solid 1px;
    position: relative;
    padding: 10px 47px 10px 40px;
    width: fit-content;
    height: fit-content;
    min-width: 10rem;
    font-size: 16px;
    display: block;
    text-align: center;
    border-radius: 1rem;
    
    &::after {
        content: '';
        width: 7px;
        height: 7px;
        border-top: solid 2px;
        border-right: solid 2px;
        position: absolute;
        transform: rotate(45deg);
        right: 5%;
        top: calc((100% - 7px)/2);
    }
}

.c-error {
    margin-top: 20px;
}